.title {
    font-family: Lato, sans-serif;
    font-size: 4vw;
    color: #404B5D;
    letter-spacing: 13.71px;
    position: absolute;
    top: 0;
    left: 10px;
}

/* Navigation bar ============================================================*/
.nav-bar {
    background: #907672;
    height: 4vw;
    position: relative;
    line-height: 4vw;
    top: 1.7vw;
}
.buttons {
    font-family: roboto, sans-serif;
    font-size: 1vw;
    color: #A7B8C3;
    letter-spacing: 1.91px;
    padding-right: 7vw;
    float: right;
}
.buttons-container {
    position: absolute;
    right: 0;
    vertical-align: middle;
}
.hamburger {
    display: none;
}

/* For displays below 767px in width =========================================*/
@media only screen and (max-width: 767px) {
    .buttons {
        display: none;
    }
    .hamburger {
        display: inline;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        margin: auto;
    }
    .nav-bar {
        height: 8vw;
    }
    .title {
        font-size: 5vw;
    }
    .heading-views {
        font-size: 9vw;
        top: 37px;
    }
}

/*Angular Views ==============================================================*/

/* Views shared */
.views-heading {
    font-family: CherryCreamSoda;
    font-size: 3vw;
    color: #43312F;
    letter-spacing: 3.39px;
}

.container-views {
    width: 80%;
    position: relative;
}

/* Welcome view */
.quote {
    font-family: Arial-ItalicMT;
    font-size: 23px;
    color: #181818;
    letter-spacing: 1.7px;
    padding-top: 7vw;
}
.author {
    font-family: Georgia;
    font-size: 23px;
    color: #181818;
    letter-spacing: 0;
}
.welcome-box {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    margin-top: 15vw;
}
.welcome-box-heading {
    font-family: Arial-BoldMT;
    font-size: 2em;
    color: #404B5D;
    letter-spacing: 7.71px;
    padding-top: 1.5vw;
    text-align: center;
}
.welcome-box p {
    font-family: ArialMT;
    font-size: 1em;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 1vw;
}
.view-container {
    position: absolute;
}

/* short stay view */


.photo-carousel {
    margin: auto;
    width: 100%;
}
.container-photo {
    padding: 20px 0 0 0;
}
.container-quote {
    margin-top: 13vw;
}


/* Carousel ==================================================================*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }


.main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}
body, html {
  /* important */
  height: 100%;
}
.mr-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    background-color: #A7B8C3;
    z-index: 2;
}
.bg-fixed {
    top: 0;
    left: 0;
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    z-index: 1;
    background-image: url("../images/LaSals.jpg");
}
.bg-scrolling {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.color-1 {
    background-color: #3d3536;
    color: #a6989a;
}
.bg-fixed h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
    font-size: 30px;
    font-size: 1.875rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: "Roboto", sans-serif;
    letter-spacing: 14px;
}
.chevron {
    position: absolute;
    left: 50%;
    top: 89%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 4vw;
}
@media only screen and (min-width: 1170px) {
    .bg-fixed {
        background-attachment: fixed;
    }
    .bg-fixed h1, .bg-fixed h2 {
        font-size: 48px;
        font-weight: 300;
  }
}