
/* Header ====================================================================*/
.mr-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    background-color: #A7B8C3;
    z-index: 1001;
}
.title {
    font-family: 'Lato', sans-serif;
    font-size: 4vw;
    color: #404B5D;
    letter-spacing: 13.71px;
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}
.nav-bar {
    background: #907672;
    height: 4vw;
    position: relative;
    line-height: 4vw;
    top: 1.7vw;
}
.nav-links {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    letter-spacing: 1.91px;
    margin-right: 3vw;
    float: right;
    cursor: pointer;
    width: 12vw;
    height: 100%;
}
.nav-links a {
    color: #A7B8C3;
}
.link-active {
    background-color: #A7B8C3;
}
.link-active a {
    color: #907672;
}
.hamburger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}
.h-center {
    margin: auto;
    display: block;
    width: 60%;
}

/* Main Content ==============================================================*/
/* minimum heights need to ba assigned for the slider to work */
.main-content {
    height: 100%;
    position: relative;
    z-index: 1;
}
body, html {
    height: 100%;
}
.long-heading {
    font-size: 2vw;
}

/* Fixed backgrounds */
.bg-fixed {
    top: 0;
    left: 0;
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
/* Fixed background images */
.bg-1 {
    background: url("../images/arch2.jpg") top right no-repeat;
}
.bg-2 {
    background-image: url("../images/rocks.jpg");
}
.bg-3 {
    background-image: url("../images/sunset.jpg");
}
.bg-3 a {
    color: white;
}

/* Scrolling backgrounds */
.bg-scrolling {
    position: relative;
    min-height: 100%;
    padding: 4em 0;
    line-height: 1.6;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
}

/* Scrolling color palette */
.color-brown {
    background-color: #3d3536;
    color: #a6989a;
}
.color-brown hr {
    border-color: #a6989a;
}
.color-blue {
    background-color: #707a8c;
    color: #adbcc5;
}
.color-blue hr {
    border-color: #adbcc5;
}
.color-blue a {
    color: #adbcc5;
}
.color-green {
    background-color: #cfefc5;
    color: #3a4e33;
}
.color-orange {
    background-color: #F6A060;
    color: #501717;
}

/* Scrolling elements; title and chevron */
.scroll-content {
    margin-top: 50px;
}
.scrolling-title {
    position: absolute;
    left: 50%;
    top: 72%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
    font-size: 4vw;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 14px;
}
.scrolling-content {
    position: absolute;
    left: 50%;
    top: 80%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
}
.scrolling-content h3 {
    top: 80%;
    font-size: 1.5vw;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .75vw;
    padding-top: 10px;
}
.chevron {
    position: absolute;
    left: 50%;
    top: 89%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 4vw;
    cursor: pointer;
}

/* Displays over 1170px in width */
@media only screen and (min-width: 1170px) {
    .bg-fixed {
        background-attachment: fixed;
    }
}

/* Displays below 767px in width */
/* disable fixed backgrounds so that touch devices can scroll */
@media only screen and (max-width: 767px) {
    .title {
        font-size: 8vw;
        width: 30px;
    }
    .nav-bar {
        height: 15vw;
        top: 3vw;
    }

    .chevron {
        width: 10vw;
    }
    .scrolling-title {
        font-size: 6vw;
        font-weight: 600;
    }
    .scrolling-content h3 {
        font-size: 2.5vw;
    }
}

/* Carousel ==================================================================*/

.container-photo {
    height: 450px;
    background-color: #3d3536;
}
.container-photo img {
    margin: auto;
}
/* remove gradients */
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
/* change color of indicators */
.carousel-indicators .active {
    background-color: #A6989A;
    margin: 0 20px;
}
.carousel-indicators li {
    border: 1px solid #A6989A;
    margin: 0 20px;
}

/* PageSlide =================================================================*/
.ng-pageslide {
    background-color: lightgrey;
}
.slidein-menu {
    padding-top: 20vw;
    font-family: Roboto;
    font-size: 5vw;
    color: #3d3536;
}
.slidein-menu p {
    padding-left: 4vw;
}
.btn-close {
    bottom: 10vw;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 17vw;
}
.btn-close a {
    color: #6b2727;
}
/*.tempphoto {
    height: 450px;
}*/
